@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

/* Define theme variables */
@theme {
  --font-sans: "Outfit", sans-serif;
  --color-brand: #0a0;
}

/* Apply global font style */
* {
  font-family: var(--font-sans);

  
}